@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:wght@100;300;500;700&family=Seymour+One&display=swap');

/* ---- RESET ---- */
* {
    font-family: border-box;
}

html {
    font-family: 'Seymour One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

button,
input {
    font-family: inherit;
}

button {
    cursor: pointer;
}